{% extends "partials/base.html" %}
{% load general_function %}

{% block content %}
<main class="container">
    <h1>Profile</h1>
  <div class="col-md-12 d-flex justify-content-between mt-4">
     
      <div class="col-md-4" style="margin-right: 20px;">
          <div class="card card-shadow">
              <div class="card-body row">
                  <div class="col-md-4 ">
                      <a href="{% url 'profile' %}">
                          {% if user.foto %}
                              <img src="{{user.foto}}"
                              style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;" alt="">
                          {% else %}
                              <img src="https://i.pinimg.com/originals/8e/6c/bc/8e6cbc70c7986ece841498551b7a9647.jpg"
                              style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;" alt="">
                          {% endif %}
                      </a>
                  </div>
                  <div class="col-md-7 mb-4">
                      <span><b>@{{user.user.username}}</b></span>
                      <br>
                      <span>First Name : <b>{{user.first_name}}</b></span>
                      <br>
                      <span>Last Name : <b>{{user.last_name}}</b></span>
                      <br>
                      <span>Name : <b>{{user.name}}</b></span>
                      <form action="{% url 'logout' %}" class="mt-3" id="logout" method="post">
                        {% csrf_token %}
                        <button type="submit" form="logout" class="btn btn-danger">
                            Logout
                        </button>
                    </form>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-8">
          <div class="card card-shadow">
              <div class="card-body">
                  <form action="" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <input type="text" name="first_name" value="{{user.first_name}}" required placeholder="first_name">
                      <hr>
                      <input type="text" name="last_name" value="{{user.last_name}}" required placeholder="last_name">
                      <hr>
                      <input type="text" name="name" required value="{{user.name}}" placeholder="name">
                      <hr>
                      <label for="foto">Foto </label>
                      <input type="file" name="foto" value="{{user.foto}}" id="foto">
                      <hr>
                      <div class="d-flex justify-content-end">
                          <button class="btn btn-primary">
                              Simpan profile
                          </button>
                      </div>
                  </form>
              </div>
          </div>                

      </div>

    </div>
</main>
{% endblock content %}